<%# TODO - make website links work %>
<%= render 'shared/links', location: :bio %>
<div class="ui centered grid">
    <div class="column" style="width: 60vw; min-width: 450px;">
        <div class="ui centered raised segments">
            <div class="ui segment">
                <h4 class="ui header"><%= @user.full_name %></h4>
                <div class="content">
                    <div class="ui list">
                        <div class="item">
                            <i class="users icon"></i>
                            <div class="content">
                                <%= @biography.workplace || 'No workplace provided' %>
                            </div>
                        </div>
                        <div class="item">
                            <i class="book icon"></i>
                            <%= @biography.school || 'No school provided' %>
                        </div>
                        <div class="item">
                            <i class="marker icon"></i>
                            <div class="content">
                                <%= @biography.location || 'No location provided' %>
                            </div>
                        </div>
                        <div class="item">
                            <i class="home icon"></i>
                            <%= @biography.hometown || 'No hometown provided' %>
                        </div>
                        <div class="item">
                            <i class="linkify icon"></i>
                            <div class="content">
                                <% if @biography.website %>
                                    <%= link_to @biography.website, @biography.website %>
                                <% else %>
                                    <%= 'No website provided' %>
                                <% end %>
                            </div>
                        </div>
                        <div class="item">
                            <i class="github icon"></i>
                            <div class="content">
                                <% if @biography.github %>
                                    <%= link_to @biography.github, @biography.github %>
                                <% else %>
                                    <%= 'No github provided' %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <% if @user == current_user %>
                    <%= link_to 'Edit', edit_biography_path(current_user), class: 'ui bottom attached basic green button' %>
                <% end %>
            </div>
        </div>
    </div>
<%# TODO - figure out where last 'div' tag came from %>