<div class="ui centered grid" style="position: relative; top: 20px;">
    <div class="column" style="width: 60vw; min-width: 450px;">
        <% if @notifications %>
            <div class="ui segments">
                <% unless @notifications.empty? %>
                    <%= link_to 'Clear All', delete_notifications_path, method: :delete, class: 'ui top attached blue button' %>
                <% end %>
                <div class="ui segment">
                      <h3 class="ui header"><%= 'Your notifications' %></h3>
                </div>
                <% if @notifications.empty? %>
                    <div class="ui blue center aligned segment">
                        <div class="content">
                            <h5 class="ui header">You have no new notifications</h5>
                        </div>
                    </div>
                <% end %>
                <% @notifications.each_with_index do |n, index| %>
                    <div class="ui <%= 'blue' if index == 0 %> center aligned segment">
                        <div class="content">
                            <%= link_to "#{n.notification_text}", notifications_click_path(n), method: :post, html: { class: 'author'} %>
                            <div class="metadata">
                                <div class="date"><%= time_ago_in_words(n.created_at) %> ago</div>
                            </div>
                            <div class="text">
                                <%= n.message %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>