<div class="ui large threaded comments" id="feed">
    <h3 class="ui dividing header"><%= locals[:header] %></h3>
    <% @posts.each do |p| %>
        <div class="comment post">
            <a class="avatar">
                <img>
            </a>
            <div class="content">
                <%= link_to "#{p.user.first_name} #{p.user.last_name}", timeline_path(p.user), html: { class: "author" } %>
                <% if p.timeline != p.user.timeline && @user != p.timeline.user %>
                     > 
                    <%= link_to "#{p.timeline.user.first_name} #{p.timeline.user.last_name}", timeline_path(p.timeline.user), html: { class: "author" } %>
                <% end %>
                <div class="metadata">
                    <div class="date"><%= time_ago_in_words(p.created_at) + " ago" %></div>
                </div>
                <div class="text">
                    <%= p.content %>
                </div>
                <div class="actions">
                    <a class="like">Like</a>
                    <%= link_to "View", post_path(p), class: "show" %>
                    <a class="reply">Reply</a>
                </div>
                <!--<div class="actions">
                    <a class="reply active">Reply</a>
                </div>
                <form class="ui reply form">
                    <div class="field">
                        <textarea></textarea>
                    </div>
                    <div class="ui primary submit labeled icon button">
                        <i class="icon edit"></i> Add Reply
                    </div>
                </form>-->
            </div>
        </div>
    <% end %>
    <%= paginate @posts %>
</div>