<%= form_for Post.new, html: { class: 'ui form'} do |f| %>
    <%= f.hidden_field :timeline, value: @user.timeline.id %>
    <%= f.hidden_field :user, value: current_user.id %>
    <div class="ui top attached tabular menu post-form" style="margin-top: 0;">
        <a class="item active" data-tab="first">Status</a>
        <a class="item" data-tab="second">Photo</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <div class="field">
            <% if @user == current_user %>
                <%= f.text_area :content, rows: '2', placeholder: 'Write something on your timeline!' %>
            <% else %>
                <%= f.text_area :content, rows: '2', placeholder: "Say something to #{@user.first_name}!" %>
            <% end %>
        </div>
        <div class="field">
            <%= f.submit 'Submit', class: 'ui fluid primary button' %>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="field">
            <%= f.file_field :photo %>
        </div>
        <div class="field">
            <%= f.text_area :description, rows: '2', placeholder: 'Write a description for your photo!' %>
        </div>
        <div class="field">
            <%= f.submit 'Submit', class: 'ui fluid primary button' %>
        </div>
    </div>
    <script>
        $('.post-form .item').tab();
    </script>
<% end %>