<%= form_for Post.new, html: { class: "ui form" } do |f| %>
    <%= f.hidden_field :timeline, value: @user.timeline.id %>
    <%= f.hidden_field :user, value: current_user.id %>
    <div class="field">
        <% if @user == current_user %>
            <%= f.text_area :content, rows: "2", placeholder: "Write something on your timeline!" %>
        <% else %>
            <%= f.text_area :content, rows: "2", placeholder: "Say something to #{@user.first_name}!" %>
        <% end %>
    </div>
    <div class="field">
        <%= f.submit "Submit", class: "ui fluid primary button" %>
    </div>
<% end %>