<div class="ui fluid raised card">
    <div class="content">
        <%= link_to "#{@post.user.full_name}'s post", timeline_path(@post.user), class: "header" %>
        <div class="meta">
            <div class="date"><%= time_ago_in_words(@post.created_at) + " ago on " + "#{@post.timeline.user == @post.user ? "his own" : @post.timeline.user.full_name + "'s"}" + " timeline" %></div>
        </div>
        <div class="description">
            <% if @post.photo.file? %>
                <%= image_tag @post.photo.url(:medium), class: "ui fluid rounded image" %>
                <h5><%= @post.description %></h6>
            <% else %>
                <h5><%= @post.content %></h5>
            <% end %>
        </div>
    </div>
    <div class="extra content">
        <a class="left floated like">
            <i class="like icon"></i>
            Like
        </a>
        <% if @post.user == current_user %>
            <%= link_to "Delete", post_path(@post), method: :delete, class: "right floated delete", data: { confirm: "Are you sure? That can't be undone" } %>
        <% end %>
    </div>
</div>