<div class="ui centered card">
    <div class="image">
        <img>
    </div>
    <div class="content">
        <div class="header"><%= "#{@user.first_name} #{@user.last_name}" %></div>
        <div class="meta">
            <span class="date">Joined <%= time_ago_in_words(@user.created_at) %> ago</span>
        </div>
    </div>
    <div class="extra content">
        <a href="<%= friends_path(@user) %>">
            <i class="user icon"></i>
            <%= @user.friends.length %> Friends
        </a>
    </div>
    <% if addable? %>
        <%= link_to "Add Friend", send_request_path(@user), method: :post, class: "ui bottom attached blue button" %>
    <% end %>
</div>