<%= render 'shared/links', location: :timeline %>
<div class="ui three column stackable grid">
    <div class="column">
        <%= render 'shared/user_card' %>
    </div>
    <div class="column">
        <%= render 'shared/post_form' %>
        <%= render 'shared/feed', locals: {header: "News Feed"} %>
    </div>
    <div class="column">
        <%= render 'shared/suggested_friends' %>
    </div>
</div>