<div class="ui black inverted fixed menu" style="border-radius: 0;">
    <div class="header item">
        <%= semantic_icon(:users) %>
        <%= link_to 'HeadList', root_path %>
    </div>
    <% if user_signed_in? %>
        <%= link_to 'Feed', feed_path, class: 'item' %>
        <%= link_to current_user.first_name, self_timeline_path, class: 'item' %>
        <a class="item">Search</a>
        <div class="menu right">
            <div class="ui dropdown item">
                <i class="icons">
                    <%= semantic_icon('setting') %>
                    <%= semantic_icon('red corner warning circle') if current_user.notifications? %>
                </i>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <%= link_to notifications_path, class: 'item' do %>
                        Notifications
                        <% if current_user.notifications %>
                            <div class="ui label"><%= current_user.notifications.where(seen: false).length %></div>
                        <% end %>
                    <% end %>
                    <%= link_to 'Settings', '', class: 'item' %>
                    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'item' %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<script>
    $(".ui.dropdown").dropdown();
</script>