<!DOCTYPE html>
<html>
    <head>
        <title>HeadList</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    </head>

    <body style="padding-top: 40px;">
        <div class="container" style="min-height: 100vh; background-color: #eee;">
            <%= render 'layouts/navbar' %>
            <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
    </body>
</html>
